.nav-header{
    background-image: linear-gradient(120deg, #e0c3fc 0%,#a2c5fb 100%, transparent 70%, transparent 100%);
    display: flex;
    padding: 1rem 10%;
    width: 100%;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
}

.navbar-default{
    display: flex;
    list-style: none;
    overflow: hidden;
    justify-content: center;
}

.nav-header li{
    font-size: 1rem;
    padding: 0.5em 1em;
    overflow: hidden;
    cursor: pointer;
    color: white;
}

.navbar-default li a{
    text-decoration: none;
    font-size: 1.3rem;
}

.navbar-default li a:hover{
    font-weight: bold!important;
    color: white!important;
}

.nav-header a{
    text-decoration: none;
    color: white;
}

.navbar-right{
    float: right;
    display: flex;
}

.nav-button {
    background:#74b5f7    ;
    border-radius: 50px;
    margin-left: 0.75rem;
    color: white;
    
}

.nav-button a:hover{
    color: #333;
}