.nav-header{
    position: absolute;
    display: flex;
    padding: 1rem 10%;
    width: 100%;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
}

.navbar-default{
    display: flex;
    list-style: none;
    overflow: hidden;
    justify-content: center;
}

.nav-header li{
    font-size: 1rem;
    padding: 0.5em 1em;
    overflow: hidden;
    cursor: pointer;
    color: white;
}

.navbar-default li a{
    text-decoration: none;
}

.navbar-default li a:hover{
    background-color: #ccc7d3;
}

.nav-header a{
    text-decoration: none;
    color: white;
}

.navbar-right{
    float: right;
    display: flex;
}

.nav-button {
    background: #00adff;
    border-radius: 50px;
    margin-left: 0.75rem;
    color: white;
}

.nav-button a:hover{
    color: #333;
}